{{- if eq .include_tools "yes" -}}
# Tools bundle: UC functions used by the agent.
# Deploy this bundle to create execute_python_code, ask_ai, summarize, translate in Unity Catalog.
# Run the deploy-uc-functions job so the agent bundle can reference these tools.
bundle:
  name: {{.project_name}}-tools

include:
  - ../global_bundle.yml
  - ./resources/tools-resource.yml

targets:
  dev:
    default: true
    variables:
      schema: "{{.project_name}}_dev"
    workspace:
      host: {{.databricks_host}}

  staging:
    variables:
      schema: "{{.project_name}}_staging"
    workspace:
      host: {{.databricks_host}}

  prod:
    variables:
      schema: "{{.project_name}}_prod"
    workspace:
      host: {{.databricks_host}}

  test:
    variables:
      schema: "{{.project_name}}_test"
    workspace:
      host: {{.databricks_host}}
{{- end -}}
