{{- if eq .include_retriever "yes" -}}
name: Bundle validation for {{.project_name}}-retriever

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'retriever/**'

defaults:
  run:
    working-directory: ./retriever/

env:
  DATABRICKS_HOST: {{.databricks_host}}
  STAGING_DATABRICKS_CLIENT_SECRET: ${{"{{"}} secrets.STAGING_DATABRICKS_CLIENT_SECRET {{"}}"}}
  STAGING_DATABRICKS_CLIENT_ID: ${{"{{"}} secrets.STAGING_DATABRICKS_CLIENT_ID {{"}}"}}
  PROD_DATABRICKS_CLIENT_SECRET: ${{"{{"}} secrets.PROD_DATABRICKS_CLIENT_SECRET {{"}}"}}
  PROD_DATABRICKS_CLIENT_ID: ${{"{{"}} secrets.PROD_DATABRICKS_CLIENT_ID {{"}}"}}

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  staging:
    concurrency: {{.project_name}}-retriever-staging-bundle-job
    runs-on:
      group: {{.github_runner_group}}
      labels: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{"{{"}} github.event.pull_request.head.sha || github.sha {{"}}"}}
      - uses: databricks/setup-cli@v0.258.0
      - name: Validate Bundle For Staging
        run: databricks bundle validate -t staging

  prod:
    concurrency: {{.project_name}}-retriever-prod-bundle-job
    runs-on:
      group: {{.github_runner_group}}
      labels: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{"{{"}} github.event.pull_request.head.sha || github.sha {{"}}"}}
      - uses: databricks/setup-cli@v0.258.0
      - name: Validate Bundle For Prod
        env:
          DATABRICKS_HOST: ${{"{{"}} env.DATABRICKS_HOST {{"}}"}}
          DATABRICKS_CLIENT_SECRET: ${{"{{"}} env.PROD_DATABRICKS_CLIENT_SECRET {{"}}"}}
          DATABRICKS_CLIENT_ID: ${{"{{"}} env.PROD_DATABRICKS_CLIENT_ID {{"}}"}}
        run: databricks bundle validate -t prod
{{- end -}}
